# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints/

# Entornos virtuales
.env
.venv
ENV/
env/
venv/

# Logs
*.log

# Modelos entrenados / checkpoints
*.pth
*.pt
*.ckpt

# Datos intermedios / resultados grandes
*.npz
*.csv
*.bin

#  Datos crudos y resultados
data/
results/
!results/*.png

# IDEs y sistema
.vscode/
.DS_Store
